.main {
    width: 100vw;
    height: 100vh;
}

.page-title {
    font-size: 24px;
    margin: 30px 0px 12px 160px;
    font-weight: bold;
}

.form-group {
    margin: 30px 0px 12px 80px;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
}

.form-group input[type="text"] {
  width: 20%;
}

.form-group textarea{
  width: 40%;
}

.form-group input[type="text"], .form-group textarea {
    padding: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="file"] {
    display: block;
    margin-top: 5px;
}

.btn-submit {
    background-color: #87ceeb;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 12px 0px 12px 80px;
}


/*ここから下がヘッダー*/


.header {
    background-color: #f1f8fe;
    margin: 0 auto;
    padding: 6px 0;
    width: 100%;
    
}

header{
    display: block;
    unicode-bidi: isolate;
    width: 100%;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner{
    width: 1024px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    font-size: 14px;
    letter-spacing: 2px;
    color: #444;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 250;
    margin-top: 8px;
}
.logo-title {
    display: block;
    font-size: 24px;
    color: #444;
    margin-top: 2px;
    font-weight: 200;
    white-space: nowrap;
    letter-spacing: 1px;
}

.text-accent {
    color: #87ceeb;
    font-weight: inherit;
    display: inline;
}

.nav-btn {
    display: inline-block;
    padding: 3px 20px;
    margin: 16px 0px;
    font-size: 16px;
    color: #87CEFA;
    text-decoration: none;
    user-select: none;
    border: 1px #87CEFA solid;
    border-radius: 3px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #3b4043;
}
