.prototype-content{
    flex: 1; /* ヘッダーとフッター以外の余白をすべて埋める */
}

.page-title {
    font-size: 24px;
    margin: 30px 0px 12px 160px;
    font-weight: bold;
}

.form-group {
    margin: 30px 0px 12px 80px;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
}

.form-group input[type="text"] {
  width: 20%;
}

.form-group textarea{
  width: 40%;
}

.form-group input[type="text"], .form-group textarea {
    padding: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="file"] {
    display: block;
    margin-top: 5px;
}

.btn-submit {
    background-color: #87ceeb;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 12px 0px 12px 80px;
}

/* 追加部分 */

.input-field-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.individual-error {
    color: black;
    font-size: 13px;
    white-space: nowrap;
}

.input-field-wrapper:has(textarea) {
    align-items: flex-start;
}

.conflictError {
    color: red;
    margin-left: 160px;
}
