.contents-row {
  flex: 1; /* ヘッダーとフッター以外の余白をすべて埋める */
}

.user-header {
  display: flex;
  align-items: center;
}

.contents-row {
  width: 80vw;
  margin: 0 auto;
}

.table {
  border-collapse: collapse; /* テーブルのセルごとの線の重なりをなくす */
  margin-bottom: 30px;
  width: 50%;
}

.tbody {
  vertical-align: middle; /* セルの中の要素を中央揃えにする */
}

.table-col1 {
  text-align: left;
  font-weight: bold;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;
  width: 30%;
  font-size: 16px;
}

.table-col2 {
  text-align: left;
  border: 1px solid #f5f5f5;
  padding: 16px 8px;
  width: 70%;
  font-size: 16px;
}

/* フォローアイコンのCSS */
.icon-following {
  border: 1px solid #44c4f7;
  border-radius: 15px;
  padding: 3px;
  font-size: 12px;
  background: #44c4f7;
  color: white;
  margin-left: 5px;
}

.icon-not-following {
  display: hidden;
}

/* フォローボタンのCSS */
#follow-button {
  border: 1px #87CEFA solid;
  border-radius: 3px;
  padding: 3px 19.5px;
  font-size: 12px;
  margin: 5px;
}

.unFollow-btn {
  background: #87CEFA;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.unFollow-btn:hover {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.follow-btn {
  background: white;
  color: #87CEFA;
  transition: all 0.5s ease;
}

.follow-btn:hover {
  background: #87CEFA;
  color: white;
}

/* ユーザー編集ボタンのCSS */
.edit-btn a {
  display: block;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
  color: #999;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-left: 20px;
}