* {
  box-sizing: border-box;
}

form {
    display: block;
    margin-top: 0px;
    unicode-bidi: isolate;
}

.main {
  flex: 1;
}

.new-user div {
  margin: 10px 0;
}

.new-user input[type="text"], .new-user input[type="password"] {
  height: 25px;
  padding-left: 5px;
  border-radius: 5px;
}

.new-user input[type="submit"] {
  background-color: #87ceeb;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.new-user input[type=submit]:hover {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
