.prototype-contents {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.prototypes {
  width: 350px;
  margin: 10px;
  padding: 5px;
}

.prototype-image {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.prototype-image img {
  width: 100%;
  height: 100%;     /* 親要素（.prototype-image）と同じ幅・高さにする */
  object-fit: cover; /* 縦横比を維持したまま枠にフィットさせる */
}

.prototype-name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

.prototype-concept {
  margin-bottom: 8px;
  font-size: 16px;
}

.prototype-user {
  font-size: 12px;
  color: #999;
  text-decoration: underline;
  display: block;
  text-align: right;
}