.user-header,.prototype-header {
  font-size: 30px;
  margin-bottom: 30px;
}

.table {
  border-collapse: collapse; /* テーブルのセルごとの線の重なりをなくす */
  margin-bottom: 30px;
  width: 50%;
}

.tbody {
  vertical-align: middle; /* セルの中の要素を中央揃えにする */
}

.table-col1 {
  text-align: left;
  font-weight: bold;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  padding: 8px;
  width: 30%;
}

.table-col2 {
  text-align: left;
  border: 1px solid #f5f5f5;
  padding: 8px;
  width: 70%;
}

.prototype-contents {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.prototypes {
  width: 300px;
}

.prototype-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.prototype-name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

.prototype-concept {
  margin-bottom: 8px;
  font-size: 16px;
}

.prototype-user {
  font-size: 12px;
  color: #999;
  text-decoration: underline;
  display: block;
  text-align: right;
}

