<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/users/detail.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/fragment/style.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/users/edit.css}" rel="stylesheet" type="text/css">
  <link href="../../static/css/users/detail.css" rel="stylesheet" type="text/css">
  <title>ProtoSpace</title>

  <style th:inline="css">
      body {
        background-image: url([[@{/images/7a2afcca4c1440f0c5137715284b8b7a_t.jpeg}]]);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
      }
  </style>
  
</head>

<body>
  <div th:insert="~{header :: header}"></div>

    <div class="contents-row">
      <div class="user-row">
        
        <div class="user-header" th:text="${user.userName} + 'さんの情報'"></div>

        <div class="button" th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getUserId() == user.id}">
            <div class="edit-btn"> 
              <a th:href="@{/users/{userId}/edit(userId=${user.id})}">編集する</a>
            </div>
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th class="table-col1">名前</th>
              <td class="table-col2" th:text="${user.userName}"></td>
            </tr>
            <tr>
              <th class="table-col1">プロフィール</th>
              <td class="table-col2" th:text="${user.profile}"></td>
            </tr>
            <tr>
              <th class="table-col1">所属</th>                  
              <td class="table-col2" th:text="${user.affiliation}"></td>
            </tr>
            <tr>
              <th class="table-col1">役職</th>
              <td class="table-col2" th:text="${user.position}"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="prototype-row">
        <div class="prototype-header" th:text="${user.userName} + 'さんのプロトタイプ'"></div>
        <div class="prototype-contents">
          <div th:each="prototype : ${prototypes}" class="prototypes">
            <div th:replace="~{users/prototype :: content(prototype=${prototype})}"></div>
          </div>
        </div>
      </div>
    </div>

  <div th:insert="~{footer :: footer}"></div>

</body>