<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/users/detail.css}" rel="stylesheet" type="text/css">
  <title>ProtoSpace</title>
</head>

<body>
  <!-- <div th:insert="~{header :: header}"></div> -->

  <div class="contents-row">
    <div class="user-row">
      <div class="user-header" th:text="${user.userName} + 'さんの情報'"></div>
      <table class="table">
        <tbody>
          <tr>
            <th class="table-col1">名前</th>
            <td class="table-col2" th:text="${user.userName}"></td>
          </tr>
          <tr>
            <th class="table-col1">プロフィール</th>
            <td class="table-col2" th:text="${user.profile}"></td>
          </tr>
          <tr>
            <th class="table-col1">所属</th>
            <td class="table-col2" th:text="${user.affiliation}"></td>
          </tr>
          <tr>
            <th class="table-col1">役職</th>
            <td class="table-col2" th:text="${user.position}"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="prototype-row">
      <div class="prototype-header" th:text="${user.userName} + 'さんのプロトタイプ'"></div>
      <div class="prototype-contents">
        <div th:each="prototype : ${prototypes}" class="prototypes">
          <div th:replace="~{prototype :: content(prototype=${prototype})}"></div>
        </div>
      </div>
    </div>

  </div>

  <!-- <div th:insert="~{footer :: footer}"></div> -->
</body>