<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/users/login.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/fragment/style.css}" rel="stylesheet" type="text/css">
  <title>login.html</title>
</head>

<body>

  <div th:replace="~{header :: header}"></div>

  <div class="main">
    <div class="inner">
      <h2>ユーザーログイン</h2>
      <p  class="login-error" th:if="${loginError}" th:text="${param.error}"></p>

      <form class="new-user" th:method="post" th:action="@{/users/login}" >

        <div class="field">
          <label class="column-title">メールアドレス</label><br />
          <input type="text" id="email" name="email" autofocus="autofocus" />
        </div>

        <div class="field">
          <label class="password">パスワード（6文字以上）</label><br />
          <input type="password" name="password" autocomplete="off" />
        </div>

        <div class="actions">
          <input type="submit" value="ログイン">
        </div>
      </form>
    </div>
  </div>

  <div th:replace="~{footer :: footer}"></div>
  
</body>
</html>