<div xmlns:th="http://www.thymeleaf.org" th:fragment="content(prototype)">
  <div class="prototype-image">
    <a th:href="@{/prototype/{prototypeId}(prototypeId=${prototype.id})}">
      <img th:src="@{/prototype/{imageId}/image(imageId=${prototype.imageId})}" alt="プロトタイプ画像">
    </a>
  </div>
  <a th:href="@{/prototype/{prototypeId}(prototypeId=${prototype.id})}" class="prototype-name" th:text="${prototype.prototypeName}"></a>
  <p class="prototype-concept" th:text="${prototype.concept}"></p>
  <a th:href="@{/users/{userId}(userId=${prototype.user.id})}" class="prototype-user" th:text="'by ' + ${prototype.user.userName}"></a>
</div>