<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/prototypes/detail.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/fragment/style.css}" rel="stylesheet" type="text/css">
  <title>ProtoSpace</title>

  <style th:inline="css">
      body {
        background-image: url([[@{/images/7a2afcca4c1440f0c5137715284b8b7a_t.jpeg}]]);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
      }
  </style>

</head>

<body>

  <div th:insert="~{header :: header}"></div>

  <div class="contents">
    <div class="contents-row">
      <div class="content-post">
        <h1 class="prototype-name" th:text="${prototype.prototypeName}"></h1>
        <a th:href="@{/users/{userId}(userId=${prototype.user.id})}" class="prototype-user" th:text="'by ' + ${prototype.user.userName}"></a>

        <!-- 投稿したユーザーにのみ表示 -->
        <div class="button" th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getUserId() == prototype.user.id}">
            <div class="edit-btn"> 
              <a th:href="@{/prototype/{prototypeId}/edit(prototypeId=${prototype.id})}">編集する</a>
            </div>
            <form th:action="@{/prototype/{prototypeId}/delete(prototypeId=${prototype.id})}" th:method="post">
              <input type="submit" class="delete-btn" value="削除する">
            </form>
        </div>

        <div class="prototype-image">
          <span><img th:src="@{/prototype/{imageId}/image(imageId=${prototype.imageId})}" /></span>
        </div>

        <div class="prototype-detail">
          <h2 class="catchcopy-title">キャッチコピー</h2>
          <p class="catchcopy-text" th:text="${prototype.catchCopy}"></p>

          <h2 class="concept-title">コンセプト</h2>
          <p class="concept-text" th:text="${prototype.concept}"></p>
        </div>
      </div>
    </div>

    <!-- コメント投稿機能 -->
    <div class="comments-row">
      <h2 class="comments-title">コメント</h2>
      <div th:if="${#authorization.expression('isAuthenticated()')}">
        <div th:if="${errorMessages}" th:each="error : ${errorMessages}">
          <div th:text="${error}"></div>
        </div>
        <form class="comments-form" th:action="@{/prototype/{prototypeId}/comments(prototypeId=${prototype.id})}" th:method="post">
          <textarea name="comment" placeholder="コメントを入力してください" rows="2"></textarea>
          <div class="comment-btn-container">
            <input type="submit" class="btn-submit" value="送信する">
          </div>
        </form>
      </div>

      <!-- コメントテーブルから取得 -->
      <div class="comment-list" th:if="${prototype.comments != null and !prototype.comments.isEmpty()}">
        <ul class="comments-lists">
          <li class="comments_list" th:each="comment : ${prototype.comments}">
            
            <span th:text="${comment.comment}"></span>
            
            <a th:href="@{/users/{userId}(userId=${comment.user.id})}" 
              class="comment-user" 
              th:text="${'（' + comment.user.userName + '）'}"></a>
              
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div th:insert="~{footer :: footer}"></div>

</body>
</html>