<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ja" th:fragment="form(actionUrl, prototypeForm, errorMessages)">

<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/prototype/style.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/fragment/style.css}" rel="stylesheet" type="text/css">
  <title>ProtoSpace</title>

  <style th:inline="css">
      body {
        background-image: url([[@{/images/7a2afcca4c1440f0c5137715284b8b7a_t.jpeg}]]);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
      }
  </style>

</head>

<body>

<div th:insert="~{header :: header}"></div>
<div class="prototype-content">

<h2 class="page-title">プロトタイプ編集</h2>

<div th:if="${conflictError}">
  <p class="conflictError" th:text="${conflictError}"></p>
</div>

<form th:action = "@{/prototype/{id}/edit(id=${prototypeId})}" th:method = "post" th:object = ${prototypeForm} class = "form-group" enctype="multipart/form-data">
  <input type="hidden" th:field="*{version}"> <!--バージョンを含める-->

  <div class="form-group">
    <label for="prototypeName">プロトタイプの名称</label>
    <div class="input-field-wrapper">
      <input type="text" th:field="*{prototypeName}">
      <span th:if="${#fields.hasErrors('prototypeName')}" th:errors="*{prototypeName}" class="individual-error"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="catchCopy">キャッチコピー</label>
    <div class="input-field-wrapper">
      <textarea th:field="*{catchCopy}"></textarea>
      <span th:if="${#fields.hasErrors('catchCopy')}" th:errors="*{catchCopy}" class="individual-error"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="concept">コンセプト</label>
    <div class="input-field-wrapper">
      <textarea th:field="*{concept}"></textarea>
      <span th:if="${#fields.hasErrors('concept')}" th:errors="*{concept}" class="individual-error"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="image">プロトタイプの画像</label>
    <div class="input-field-wrapper">
      <input type="file" th:field="*{image}">
      <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="individual-error"></span>
    </div>
  </div>

  <div class="form-action">
    <input type="submit" value="保存する" class="btn-submit" >
  </div>

</form>
</div>

<div th:insert="~{footer :: footer}"></div>

</body>

</html>