<div xmlns:th="http://www.thymeleaf.org" th:fragment="form(actionUrl, prototypeForm, errorMessages)" >

  <div th:if="${errorMessages}" th:each="error : ${errorMessages}">
    <div th:text="${error}"></div>
  </div>

  <form th:action = "@{/prototype/new}" th:method = "post" th:object = ${prototypeForm}>
    <input type="text" th:field="*{prototypeName}">
    <textarea th:field="*{catchCopy}"></textarea>
    <textarea th:field="*{concept}"></textarea>
    <input type="image" th:field="*{image}">
    <input type="submit" value="保存する" />
  </form>

</div>