<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/fragment/style.css}" rel="stylesheet" type="text/css">
    <title>ProtoSpace</title>
  </head>
  
  <body>
  
    <div th:insert="~{header :: header}"></div>

    <div class="main">
      <div class="inner-prototypes">
        <div class="greeting" sec:authorize="isAuthenticated()" th:if="${user != null}"> <!--ログインしている時のみ表示-->
          こんにちは、<a th:href="@{/users/{userId}(userId=${user.id})}" th:text="${user.userName} + 'さん'"></a>
        </div>
  
        <div class="contents">
          <div th:each="prototype : ${prototypes}" class="prototypes">
            <!-- <div th:if="${prototype.image}">
              <img th:src="@{${prototype.image}}" alt="メッセージ画像" style="width: 500px; height: 500px;"/>
            </div> -->
            <div th:replace="~{users/prototype :: content(prototype=${prototype})}"></div>
          </div>

        </div>
      </div>
    </div>

  <div th:insert="~{footer :: footer}"></div>
  
  </body>
</html>
