<div xmlns:th="http://www.thymeleaf.org" th:fragment="content(prototype)">
  <div class="prototype-image">
    <a th:href="@{/prototype/{prototypeId}(prototypeId=${prototype.id})}">
      <!-- <img th:src="${prototype.image}" alt="プロトタイプ画像"> -->
      <img src="../../static/images/sample1.png" alt="プロトタイプ画像">
    </a>
  </div>
  <a th:href="@{/prototype/{prototypeId}(prototypeId=${prototype.id})}" class="prototype-name" th:text="${prototype.prototypeName}">プロトタイプ名テキストテキストテキスト</a>
  <p class="prototype-concept" th:text="${prototype.concept}">コンセプトテキストテキストテキストテキスト</p>
  <a th:href="@{/users/{userId}(userId=${prototype.user.id})}" class="prototype-user" th:text="'by ' + ${prototype.user.userName}">by ユーザー名</a>
</div>
