.header {
  height: 80px;
  margin-bottom: 50px;
}

.main {
  margin-top: 50px;
  padding: 0 300px;

}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.greeting {
  margin-bottom: 150px;
}


.contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: calc(100vh - 160px);
}

.content1, .content2, .content3, .content4, .content5 {
  display: flex;
  flex-direction: column;
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}

.prototype-image img{
  width: 100%;
  height: 370px;
}

.prototype-name {
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}

.prototype-catchcopy {
  font-size: 16px;
  margin: 0;
}

.by-user-name {
  font-size: 12px;
  text-align: right;
}

