<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>ProtoSpace</title>
  <link href="../static/css/prototype/style.css" rel="stylesheet" type="text/css">
</head>

<body>

  <header  class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav-left">
        <h1 class="logo">
          SHARE THE PROTOTYPE
          <span class="logo-title">PRO<span class="text-accent">TO</span> SPACE</span>
        </h1>
      </div>
      <div class="nav-right">
        <a class="nav-btn" href="/login">ログイン</a>
        <a class="nav-btn" href="/users/register">新規登録</a>
      </div>
    </div>
  </div>
</header>

</body>

</html>