<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="UTF-8">
    <!-- <link th:href="@{../static/css/index.css}" rel="stylesheet" type="text/css"> -->
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">
    <title>ProtoSpace</title>
  </head>
  
  <body>

    <div class="header">ヘッダー</div>
  
  <!--<div th:insert="~{header :: header}"></div>-->

    <div class="main">
      <div class="inner">
        <div class="greeting" sec:authorize="isAuthenticated()">
          <!-- こんにちは、<a th:href="@{/users/{userId}(userId=${user.id})}" th:text="${user.userName} + 'さん'"></a> -->
          <p>こんにちは、<a href="">〇〇さん</a></p>
        </div><!--「こんにちは、ユーザー名さん」で、ユーザー名をクリックするとユーザー詳細ページに遷移する。コントローラー要修正。-->
  
        <div class="contents">
          <!-- <div th:each="prototype : ${prototypes}" class="prototypes">
            <div th:replace="~{/users/prototype :: content(prototype=${prototype})}"></div>
          </div> -->
          <div class="content1">
            
            <a href="" class="prototype-image" >
              <img src="https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg" alt="画像">
            </a>

            <a href="" class="prototype-name">プロトタイプ名称</a><!--プロトタイプ詳細ページに移動-->
      
            <p class="prototype-catchcopy">てすとてすとてすと</p>
      
            <span class="by-user-name">
              <a href=""> <!--ユーザー詳細ページに遷移-->
                <span>"by" + 
              </a>

          </div>

          <div class="content2">
            <a href="" class="prototype-image" >
              <img src="https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg" alt="画像">
            </a>
      
            <a href="" class="prototype-name">プロトタイプ名称</a>
      
            <p class="prototype-catchcopy">てすとてすとてすと</p>
      
            <span class="by-user-name">
              <a href=""> <!--ユーザー詳細ページに遷移-->
                <span>"by" + 
              </a>

          </div>

          <div class="content3">
            <a href="" class="prototype-image" >
              <img src="https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg" alt="画像">
            </a>
      
            <a href="" class="prototype-name">プロトタイプ名称</a>
      
            <p class="prototype-catchcopy">てすとてすとてすと</p>
      
            <span class="by-user-name">
              <a href=""> <!--ユーザー詳細ページに遷移-->
                <span>"by" + 
              </a>

          </div>

          <div class="content4">
            <a href="" class="prototype-image" >
              <img src="https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg" alt="画像">
            </a>
      
            <a href="" class="prototype-name">プロトタイプ名称</a>
      
            <p class="prototype-catchcopy">てすとてすとてすと</p>
      
            <span class="by-user-name">
              <a href=""> <!--ユーザー詳細ページに遷移-->
                <span>"by" + 
              </a>

          </div>

          <div class="content5">
            <a href="" class="prototype-image" >
              <img src="https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg" alt="画像">
            </a>
      
            <a href="" class="prototype-name">プロトタイプ名称</a>
      
            <p class="prototype-catchcopy">てすとてすとてすと</p>
      
            <span class="by-user-name">
              <a href=""> <!--ユーザー詳細ページに遷移-->
                <span>"by" + 
              </a>

          </div>
        </div>
      </div>
    </div>
  <!--<div th:insert="~{footer :: footer}"></div>-->
    <div class="footer">フッター</div>
  
  </body>
</html>